/* Link styling */
#quarto-document-content a:not(.quarto-grid-link):not(.button):not(.breadcrumb):not(.anchorjs-link):not(.footnote-ref), 
main a:not(.quarto-grid-link):not(.button):not(.breadcrumb):not(.anchorjs-link):not(.footnote-ref) { 
  &:not(.quarto-page-breadcrumbs a):not(.quarto-secondary-nav a) {
    font-weight: 500;
    text-decoration: underline double #ff6162 1px;
  }
}

#quarto-document-content a:hover:not(.quarto-grid-link):not(.button):not(.breadcrumb), 
main a:hover:not(.quarto-grid-link):not(.button):not(.breadcrumb) { 
  &:not(.quarto-page-breadcrumbs a):not(.quarto-secondary-nav a) {
    color: #ff6162; 
    text-decoration: none !important; 
    border-bottom: none !important; 
  }
}

// Breadcrumbs
.quarto-page-breadcrumbs,
.quarto-secondary-nav,
.breadcrumb,
nav[aria-label="breadcrumb"] {
  &, & *, & a, & a * {
    border-bottom: none !important;
    text-decoration: none !important;
  }
  
  a:hover {
    color: #ffb3ba; 
    border-bottom: none !important;
    text-decoration: none !important; 
  }
}

.quarto-page-breadcrumbs .breadcrumb-item:last-child a {
  color: #0b2a1290 !important;         
  text-decoration: none !important;   
  pointer-events: none !important;    
  cursor: default !important;
  // font-weight: 500;
}

// Listing tiles
.card {
  border-radius: 5px !important;
  border: 1px solid #ffb3ba;
  border-right: 3px solid #ffb3ba;
  border-bottom: 3px solid #ffb3ba;
}
  
.card-title {
    padding-bottom: 0.2rem;
    font-size: 100%;
    font-weight: bold;
    color: #ff6162;
  }
  
.card:hover {
    background-color: #fee3e5;
  }


.quarto-grid-item .listing-subtitle {
    text-transform: uppercase;
    font-size: .75em;
  }

// Buttons
.button {
    color: #ff6162;
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0.5rem;
    display: inline-block;
    border: 2px solid #ffb3ba;
    font-size: 16px;
    transition: color 0.15s ease-in, background-color 0.15s ease-in;
    text-align: center;
    border-radius: 5px;
  }
  
  .button:hover {
    color: #ff6162;
    text-decoration: none;
    background-color: #ffb3ba;
  }

  .cta{
    color: #ff6162;
    background-color: #fee3e5;
    border: 2px solid #ff6162;
  }
  
  .cta:hover {
    background-color: #fff4f5;
  }

// Tabset styling
.panel-tabset .nav-link.active {
  border-top: #ff6162 1px solid;
  border-left: #ff6162 1px solid;
  border-right: #ff6162 1px solid;
  border-bottom: #ff6162 1px dotted;
  background-color: #ff6162;
  }

.panel-tabset .nav-link:not(.active) {
  border-left: #ffb3ba 1px solid;
  border-right: #ffb3ba 1px solid;
  border-top: #ffb3ba 1px solid;
  }

.panel-tabset .nav-tabs .nav-link {
  border-radius: 5px 5px 0 0;
  background-color: transparent;
  }

.panel-tabset .nav-tabs {
  border-bottom: 1px solid #ff6162 !important;
  }

.panel-tabset .tab-content {
  border-radius: 0 0 5px 5px;
  background-color: transparent;
  // border: 1px solid #ff6162 !important; 
  border-bottom: 1px solid #ff6162;
  border-left: 1px solid #ff6162;
  border-right: 1px solid #ff6162;
  }

.panel-tabset .nav-tabs .nav-link.active,
.panel-tabset .nav-tabs .nav-item.show .nav-link {
  color: #ff6162 !important;
  background-color: #fee3e5 !important;
  }

.panel-tabset .nav-tabs .nav-item {
  margin-right: 10px !important; 
  }

.panel-tabset .nav-tabs .nav-link,
.panel-tabset .nav-tabs .nav-link:hover,
.panel-tabset .nav-tabs .nav-link:focus,
.panel-tabset .nav-tabs .nav-link.active {
  transition: none !important;      
  outline: none !important;         
  box-shadow: none !important;    
  text-decoration: none !important;  
  }

.panel-tabset .nav-tabs .nav-link:hover:not(.active) {
  background-color: #fee3e5;
  border-color: #ff7d7d #ff7d7d transparent #ff7d7d !important; 
  }


// Anchor link offset for fixed header
main.content h1, 
main.content h2, 
main.content h3, 
main.content h4, 
main.content h5, 
main.content h6,
section[id] {
  scroll-margin-top: 85px !important;
}
