/* Navbar styling */

// Navbar title text
.navbar-title { 
    text-transform: uppercase;
    font-weight: bold;
    }

// Active link
.navbar-nav .nav-link.active {
    font-weight: bold;
  }


/* Sidebar styling */

// Padding
#quarto-sidebar, 
.quarto-sidebar,
.sidebar-navigation {
    padding: 1.5rem !important;    
    }

// Divider spacing & color
.sidebar-navigation .sidebar-divider {
    margin-top: 1rem;
    color: #ff6162;
    border-top: 1px dotted #ff6162 !important; 
    opacity: 1 !important;    
    }

// Line padding
  
.sidebar-item {
    padding-top: .3rem;
    line-height: 1.3;
    }

// Sidebar link hover 
.sidebar-item a:hover .menu-text {
    text-transform: none;
    color: #ff6162 !important;
    }

// Sidebar active link highlights
.sidebar-item .sidebar-item-container .sidebar-link.active .menu-text {
    color: #ff6162 !important;
    font-weight: 500;
    padding-left: 1rem;
    }

.sidebar-item-container .active {
    position: relative;
    }

.sidebar-item-container .active::before {
    content: "";
    position: absolute;
    left: 0;   
    top: 50%;
    transform: translateY(-50%) rotate(45deg); 
    width: 6px;
    height: 6px;
    border-top: 2px solid #ff6162;
    border-right: 2px solid #ff6162;
    background-color: transparent; 
    margin-left: -0.1rem;
    }
