
/* Dark green: #0b2a12
Gold: #df9a49
Coral: #ff6162
Pink: #ffb3ba
Light pink: #fee3e5 */

/* body {
  background-color: #fee3e5;
} */

.pfp,
div.quarto-post .thumbnail img {
  /* border: 5px solid #0b2a12; */
  border-radius: 50%;
  /* background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px); */
}

.navbar {
  padding: 15px;
  background: #0b2a12;

.navbar-title { 
  color: #df9a49; 
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-nav .nav-item > .nav-link {
  display: block !important;
  color: #df9a49;
  /* font-variant: small-caps;
  font-size: larger; */
}

.navbar-nav .nav-item > .nav-link:hover, .navbar-title:hover {
  color: #ff6162;
}

button.aa-DetachedSearchButton svg path {
  fill: #df9a49 !important;
}

button.aa-DetachedSearchButton:hover svg path {
  fill: #ff6162 !important;
}

.navbar-nav .dropdown-menu {
  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); */
  /* border-radius: 50px; */
  border: 1px solid #0b2a12;
  padding-left: 10px;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}


/* temp */


