@media (max-width: 767px) {

    .mobile {
      display: none !important;
    }
    
    .navbar-nav {
      display: block !important; 
        }
  
    .navbar-nav .nav-item {
      display: block !important;
      clear: both !important;
      width: 100% !important;
      text-align: left !important;
        }
  
    .navbar-nav .nav-item:has(.fa-brands),
    .navbar-nav .nav-item:has(.fa-solid),
    .navbar-nav .nav-item:has([class^="fa-"]) {
      display: inline-block !important;
      width: auto !important;            
      clear: none !important;           
      float: right !important; 
      margin-left: 25px !important;      
      margin-right: 0 !important;        
      margin-top: 25px !important;      
      margin-bottom: 10px !important;
  
      .nav-link {
        display: inline-flex !important;
        padding: 0 !important;           
      }
    }

    blockquote {              
      margin: 3rem !important;       
    }

    div.callout.callout {
      margin: 0rem 1rem 0rem 1rem !important; 
    }
    footer.footer,
    .nav-footer {
      padding-top: 1.5rem !important; 
      padding-bottom: 0 !important;
    }
  
    .nav-footer p,
    .nav-footer span,
    .nav-footer div {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      margin-top: 0 !important;        
      margin-bottom: 0 !important;
    }
  
    .nav-footer-left,
    .nav-footer-center,
    .nav-footer-right {
      padding-top: 0.15rem !important;    
      padding-bottom: 0rem !important; 
      margin-top: 0 !important;           
      margin-bottom: 0 !important;        
    }

    #technical-skills {
      display: none !important;
    }

    #quarto-header, 
    #quarto-header nav.navbar { 
      position: fixed !important; 
      top: 0 !important; 
      left: 0 !important; 
      width: 100% !important; 
      z-index: 1070 !important; 
    }
    nav.quarto-secondary-nav {
      position: fixed !important;
      top: 75px !important; 
      padding: 0.5rem !important;
      left: 0 !important;
      width: 100% !important;
      background-color: #f6f6f6 !important;
      z-index: 1060 !important; 
      transform: translate3d(0, 0, 0) !important;
    }
    #quarto-sidebar,
    .offcanvas,
    .offcanvas-start,
    .quarto-sidebar-role,
    div[aria-label="Quarto Sidebar"] {
      position: fixed !important;
      top: 75px !important; 
      height: calc(100vh - 75px) !important; 
      z-index: 1040 !important; 
      padding-top: 65px !important;
    }

    .quarto-sidebar-glass,
    .offcanvas-backdrop {
      top: 75px !important;
      z-index: 1035 !important;
    }
  
    #quarto-content { 
      margin-top: 150px !important; 
    }
  
    nav.quarto-secondary-nav .quarto-btn-toggle,
    nav.quarto-secondary-nav .quarto-page-breadcrumbs,
    nav.quarto-secondary-nav .quarto-page-breadcrumbs li,
    nav.quarto-secondary-nav .quarto-page-breadcrumbs a {
      color: #838383 !important; 
    }
  
    nav.quarto-secondary-nav .bi-list::before {
      color: #838383 !important;
    }

  }


